@import "./breakpoints";
@import "./colors";
@import "./candidates.scss";

body {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.6em;

  @include bp(desktop) {
    font-size: 18px;
  }
}

main {
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-family: "KelptA1-Medium", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1.2em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.8em;

  a {
    color: $red;
  }
}

a:hover {
  text-decoration: underline;
}

.logo-container {
  padding: 35px 3rem 0;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;

  a:hover {
    text-decoration: none;
  }

  @include bp(desktop) {
    text-align: left;
  }

  @include bp(xlarge) {
    padding-left: 0;
  }
}

.social-wrapper {
  position: absolute;
  top: 2rem;
  width: 100%;

  .social {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;

    @include bp(xlarge) {
      padding-right: 0;
    }
  }

  a {
    display: block;
    color: $blue;

    &:hover {
      color: rgba($blue, 0.8);
    }
  }

  .anticon {
    margin-left: 8px;
  }

  .anticon-facebook svg {
    width: 27px;
    height: 27px;
    margin-top: 1px;
  }

  .anticon-twitter svg {
    height: 30px;
    width: 30px;
  }
}

.logo {
  width: 100%;
  max-width: 400px;
}

.logo-local {
  font-family: "KelptA1-Medium", sans-serif;
  color: #666;
  font-size: 45px;
  text-align: right;
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
}

.ant-layout {
  padding-top: 47px;
  background: none;

  @include bp(desktop) {
    padding-top: 0;
  }
}

.ant-layout-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 46px;
  padding: 0;
  text-align: center;
}

.ant-layout-header .anticon-facebook {
  margin: 0;
}

.ant-layout-content {
  margin: 0 auto 3rem;
  width: 100%;
  max-width: 1200px;
  padding: 25px 2rem;
  background-color: white;
  border-radius: 4px;
  position: relative;

  @include bp(desktop) {
    display: flex;
  }

  @include bp(xlarge) {
    padding: 25px 0;
  }
}

.join-button {
  text-align: center;
}

.blurb {
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto 2rem;
  background: #555555;
  padding: 20px;
  color: white;
}

#priorities {
  li {
    margin-bottom: 18px;
  }
}

.sidebar {
  border-bottom: solid 1px #ccc;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  @include bp(desktop) {
    position: sticky;
    top: 20px;
    left: 0;
    border: 0;
    padding: 0 2rem 0 0;
    margin: 0;
    width: 35%;
    align-self: flex-start;
  }

  ul {
    margin: 0;
    padding: 0;

    ul {
      margin-left: 1rem;
      padding-left: 1.5rem;
    }
  }

  li {
    font-size: 20px;
    list-style-type: none;

    li {
      list-style-type: circle;
    }
  }

  a {
    margin-bottom: 1rem;
    display: block;

    @include bp(desktop) {
      // padding: 0.8rem 1rem;
      // position: relative;
      // left: -0.8rem;
      padding: 0.8rem 0;
      margin: 0;
      border-radius: 3px;

      // &.active {
      //   background: #eee;
      // }
    }
  }
}

.content {
  margin: 0 auto;

  ol li {
    margin-bottom: 1em;
  }

  img {
    padding-bottom: 1em;
  }
}

#priorities {
  h3 {
    font-weight: bold;
  }
}

#wws {
  .gatsby-image-wrapper {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;

    @include bp(tablet) {
      float: right;
      margin: 0 0 20px 20px;

      img {
        padding: 0;
      }
    }

    @media (min-width: 1230px) {
      margin-left: 0;
      left: 30px;
    }
  }
}

.content:not(.content-full-width) {
  @include bp(desktop) {
    width: 65%;
  }
}

@include bp(desktop) {
  .content-column {
    flex: 1;
  }

  .content-column-candidates {
    width: 30%;
    max-width: 450px;
    padding-right: 40px;
  }
}
